.talentContainer {
  display: flex;
  flex: 1 1 calc(50% - 32px);
  box-sizing: border-box;
  min-width: calc(50% - 32px);
  margin-right: 32px;
  flex-direction: column;
  padding-bottom: 40px;
}

.talentTreeTitle {
  padding-bottom: 40px;
}

.talentTreeBorder {
  border: 2px solid gray;
  border-radius: 10px;
  padding: 15px 0px;
}

.talentTreeOptions {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.talentChoice {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  z-index: 2;
}

.talentIcon {
  display: block;
  width: 40px;
  height: auto;
  border: 2px solid gray;
  border-radius: 4px;
  opacity: .4;
}

.talentPassive {
  border-radius: 20px;
}

.talentTooltip {
  position: absolute;
  width: 300px;
  height: max-content;
  background-color: black;
  bottom: 120%;
  left: -120px;
  visibility: hidden;
  text-align: center;
  z-index: 3;
  padding: 0;
}

.talentChoice:hover .talentTooltip {
  visibility: visible;
}

.talentTooltipName {
  margin-bottom: 3px;
  font-size: 36px;
}

.talentTooltipDescription {
  margin-bottom: 3px;
  font-size: 22px;
}
.talentTooltipSpecial {
  color: rgb(35, 75, 255);
  margin-bottom: 3px;
  font-size: 22px;
}

.selected {
  opacity: 1;
  border-color: rgb(35, 75, 255);
}

.selectable {

}

.talentTreePathGraphic {
  display: block;
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  opacity: .8;
}

.y-0 {
  top: 0%;
}
.y-1 {
  top: 11%;
}
.y-2 {
  top: 22%;
}
.y-3 {
  top: 33%;
}
.y-4 {
  top: 44%;
}
.y-5 {
  top: 55%;
}
.y-6 {
  top: 66%;
}
.y-7 {
  top: 77%;
}
.y-8 {
  top: 88%;
}
.y-9 {
  top: 100%;
}

.x-0 {
  left: 0%;
}
.x-1 {
  left: 12.5%;
}
.x-2 {
  left: 25%;
}
.x-3 {
  left: 37.5%;
}
.x-4 {
  left: 50%;
}
.x-5 {
  left: 62.5%;
}
.x-6 {
  left: 75%;
}
.x-7 {
  left: 87.5%;
}
.x-8 {
  left: 100%;
}

