/* .talentChoice {
  border: 2px solid black;
  margin: 2px;
  background-color: gray;
  flex-grow: 5;
  height: 50px;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
} */

.levelColumn {
  width: 30px;
  text-align: center;
}

.talentFrame {
  flex-basis: 1000px;
}

.spec-choices {
  display: flex;
  justify-content: space-around;
}